@use "abstracts/vars/colors" as c;

.main-header{
   background-image: url(../assets/img/pattern-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;  
   padding: 1rem 1.5rem 10rem;

   @media screen and (min-width: 768px){
      padding: 1rem 1.5rem 7rem;
   }
}

.title{
   font-weight: 500;
   font-size: 1.4rem;
   color: #fff;

   @media screen and (min-width: 768px){
      font-size: 1.9rem;
   }
}

.form{
   display: flex;
   justify-content: center;
   height: 60px;
   max-width: 550px;
   margin-left: auto;
   margin-right: auto;

   @media screen and (min-width: 768px){
      height: 55px;
   }

   &__search,
   &__submit{
      border: 1px solid transparent;
      transition: border-color 0.2s;

      &:focus{
         outline: none;
      }
   }

   &__search{
      width: 82%;
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
      padding: 1rem 0 1rem 1rem;
      position: relative;
      color: c.$very-dark-gray;

      @media screen and (min-width: 768px){
         width: 90%;
      }
      
      &:focus{
         border-color:#000;
      }

      &::placeholder{
         opacity: 0.8;
         font-size: 0.55rem;

         @media screen and (min-width: 350px){
            font-size: 0.7rem;
         }

         @media screen and (min-width: 768px){
            font-size: 1rem;
         }
      }

      &::-webkit-search-cancel-button{
         position: absolute;
         right: 0;
         appearance: none;
         width: 15px;
         height: 15px;
         background-color: #000;
         clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
         margin-right: 1rem;
         cursor: pointer;
      }
   }

   &__submit{
      width: 18%;
      border-top-right-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
      background-color: #000;
      background-image: url(../assets/img/icon-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      @media screen and (min-width: 768px){
         width: 10%;
         transition: background-color 0.3s;

         &:hover{
            background-color: c.$very-dark-gray;
         }
      }

      &:focus{
         border-color:#fff;
      }
   }
}